{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "no-underscore-dangle": 0,
    "no-extra-parens": 0,
    "import/no-unresolved": [2, { "ignore": ["^react"] }],
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "react/jsx-filename-extension": 0,
    "function-paren-newline": 0
  },
  "globals": {
    "jest": true,
    "describe": true,
    "test": true,
    "expect": true,
    "requestAnimationFrame": true
  },
  "env": {
    "jest": true
  }
}
