{
  "extends": [
    "eslint:recommended",
    "plugin:ft-flow/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "plugins": ["ft-flow"],
  "globals": {
    "jest": true,
    "describe": true,
    "test": true,
    "expect": true,
    "requestAnimationFrame": true
  },
  "env": {
    "jest": true
  }
}
