language: node_js
node_js:
- '10'
script:
- yarn test
- yarn lint
deploy:
  provider: npm
  email: "$NPM_AUTHOR"
  api_key: "$NPM_TOKEN"
  on:
    branch: master
env:
  global:
  - secure: lvFQZnQE/BYH/8OiVDM6QoE44Q67xbJEK6MDXwK0QIWKigjvwfSQRUx3cyMDiX6xUo92Qvmc0PHLzIE+Y6Ozp3fNkuxR1rAam0oiJmr3jgui4dhzFid5x9S+gZrT7KS+8h3PPNrKMSJ1ju5E7CbwdaPu+dEN+fUvfbfUa0VNlgO0Vwk9iWs229aypxo3vwgMMMgi8sS39p6Fr6C2CNMCFCOpVSshxAVnSfNIip+sQpuEdFszgjBrvGMjeslEG2PsagSzhx+liBQFbCrOKuhf0CFtH4utLDfIlr0XrP+boIL2WHwn8EwSbzPEFIbnYaPk5yyaFiI2F0RHTFL01xrsrLwiJD02za9Topb6REmHHT5wrleYExgIup3gWFJofQ7lGA2YwPuCk+68F0YHWDeuC4Is/N0wMgtex9LMQCd66H3CZJk77Pp72csrzI9fURj5QZOOacL+C175E1Il6fJ9OsCu6rhQM9vw/tFYp3YsA7mJaw/RMfEsJrjaA4hZgF8yQvAs4eO8CN/ROGHSbDS5q9K5RjvxkBt3pkJWR555pcpRUmfXpLYkZdNf8XQJF5WEZyAUwLebIZ8uWR0BdYg83EHKZyUyNVyez2wxZQHXYi1eIkiAs9nzQhyzTce60UiZqg4BnpbPtZZkep58fKCSxwM714LmoPWSCckfUlVYS/A=
  - secure: aJkIQZhB2ZlI43R3jLM3C5nIMAJ7CytkuOlKJ0L3U5IsCoPxr9+Dxl0VCMivkrtGTjD/eoYJtPjkHWRQ56H0pF/zKWlv5LtUtZFZ4q3oGE33FlIQ7gA20hahn+4AbB3yyk0zlPUF1jrL+RmRGwc/ckeSdE28R/xKfAl7qRrCk41U6amvVjBYzXk37npGLJI31EUz7/IbQ5MB4S2hfrWnkjwr0QfNWm1D9c2YOTWXeYIlO92z3LZWRjv2qSkSudsanEStINL2JNVdwy38pFVPKH0MroISUIZqCQmrLhXidmWOGntlDgAeQMjxjl9T11WFY/Qz2yqYoVgbl+EIoloNRLR3/LNRsOQBEcIRNV/hjwHb8NelsmPhuH6nJ0qN/ErADXnmDEtmVCjQoOsc5A5tuhd7HY0t28qdJXcf3gNoWc7HUdVvPOdTaQAZ755hg3aFn2nSgMOU8Ph0aWjiJWxdE9IaS4fG+UiSThHaKWoFKI+OVJRUMD1csRgIXo5bhAm6WcTSYyR+j36LZ0n9RhYcV1xVERYa9UL/RrbQT0vp9sWHKA5Ahsrzx/MQq13CuWkEh8duc26Td02soVPcnjB07dmehAfttEs9mzdHUEP3VkDZa6mrHOkXZVg/bbD2QuwK0PFymd12frXZVvi6V2C3PCGP57xnqPsYRfCAduKGuUE=
